.profile-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)),
    url(../assets/img/coding-924920_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50vh;
}

