.section-hero-web {
  height: 60vh;
  background-image: url("../assets/img/1 NhiqpOHe8jptZ4M95GkEMA.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
